<button class="modal-close" data-action="close-modal">
    </button>

<div class='modal-image-block'>
  <img
    class='modal-img'
    src='https://image.tmdb.org/t/p/w780{{poster_path}}'
    alt='poster of {{title}}'
  />
</div>

  <div class="info-container">
      <h2 class='modal-title'>{{title}}</h2>

    <div class='modal-film-block'>
      <span class='info-list-title' id='title'>Vote / Votes</span>
      <span class='info-list-rating accent votes'>{{vote_average}}</span>&nbsp/&nbsp
      <span class='info-list-rating votes'>{{vote_count}}</span>
    </div>
    <div class='modal-film-block'>
      <span class='info-list-title' id='title'>Popularity</span>
      <span class='info-list-rating'>{{popularity}}</span>
    </div>
    <div class='modal-film-block'>
      <span class='info-list-title' id='title'>Original Title</span>
      <span class='modal-film-res uppersace'>{{original_title}}</span>
    </div>
    <div class='modal-film-block'>
      <span class='info-list-title' id='title'>Genre</span>
      {{!-- <span class='modal-film-res'>{{genres}}</span> --}}
      <span class='modal-film-res'>{{#each genres}}{{#if @last}}{{this}}{{else}}{{this}},{{/if}} {{/each}}</span>
    </div>

  <div class='modal-block-description'>
    <h3 class='modal-about'>About </h3>
    <p class='modal-about-text'>{{overview}}</p>
  </div>

  <div class='modal-buttons'>
    {{!-- <button type='button' class='accent modal-button'>add to watched</button> --}}
    {{#if addedToWatched}}
          <button type="button" class="modal-button btn-active" data-action="toggle-watched"  data-index="{{index}}">Remove from watched</button>
          {{else}}
          <button type="button" class="modal-button" data-action="toggle-watched"  data-index="{{index}}">Add to watched</button>
          {{/if}}
    {{!-- <button type='button' class='modal-button'>add to queue</button> --}}
    {{#if addedToQueue}}
          <button type="button" class="modal-button btn-active" data-action="toggle-queue"  data-index="{{index}}">Remove from queue</button>
          {{else}}
          <button type="button" class="modal-button" data-action="toggle-queue"  data-index="{{index}}">Add to queue</button>
          {{/if}}
  </div>
  </div>
</div>